{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register a car</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'landing/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'landing/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'landing/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'landing/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'landing/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'landing/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'landing/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'landing/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'landing/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
				<form class="login100-form validate-form" method="POST" action="{% url 'create_cars' %}">
					{% csrf_token %}
					<span class="login100-form-title p-b-55">
						Register a car
					</span>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Owner usarname is required">
						<input class="input100" type="text" name="owner" placeholder="Owner username">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
						<span class="lnr lnr-envelope"></span>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Plate serial is required">
						<input class="input100" type="text" name="plate" placeholder="Plate serial">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
						<span class="lnr lnr-envelope"></span>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Car model is required">
						<input class="input100" type="text" name="carModel" placeholder="Car model">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
						<span class="lnr lnr-lock"></span>
						</span>
                    </div>
                    
                    <div class="wrap-input100 validate-input m-b-16" data-validate = "Year is required">
						<input class="input100" type="text" name="year" placeholder="Year">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
						<span class="lnr lnr-lock"></span>
						</span>
                    </div>
                    
					
					
					<div class="container-login100-form-btn p-t-25">
						<button class="login100-form-btn" type="submit">
							Register the car
						</button>
						<input type="hidden" name="next" value="{{ next }}">
					</div>

					<div class="container-login100-form-btn p-t-25">
						<a class="login100-form-btn" href="/index">
							Cancel
						</a>
					</div>

					
					
					
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'landing/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'landing/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'landing/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'landing/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'landing/js/main.js' %}"></script>

</body>
</html>